body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #08080a;
  font-size: 16px;
  background-color: #ffffff;
  width: "100%";
}

a {
  cursor: pointer;
}
